.cards{
    width: 80vw;
}


.showBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    padding: 10px;
    margin: 8px 20px;
    font-size: 5rem;
    width: 80%;
    border: 3px solid black;
}
.ocultBox{
    display: none;
}

.text{
    font-size: 2rem;
}